{% extends 'daedalus/uploader/wizard/base.html' %}
{% load i18n daedalus_tags %}

{% block extra_head_scripts %}
{{ wizard.form.media }}
<style>
    .dictionary select2-container {
        width: 100% !important;
    }
    .dictionary .select2-selection  {
        overflow: hidden;
    }
    li.form {
        display: table-row;
    }
    li.form > * {
        display:table-cell;
        padding:5px;
    }
</style>
{% endblock %}

{% block wizard_preamble %}
<p>
    The table below matches data elements from your data dictionary to 
    metadata that already exists in the registry. Select all those that match
    metadata from your data dictionary.
</p>
<p>
    If none of the results are suitable for your purpose, leave the field blank and new metadata
    will be created.
</p>
{% endblock %}

{% block wizard_content %}

{{ wizard.form.management_form }}
{% with formset=wizard.form %}
    {{ formset.non_form_errors.as_ul }}
    <div class="row"><div class="col-xs-12">
    <ul id="formset" class="formset dictionary">
    {% for form in formset.forms %}
      <li class="{% cycle row1,row2 %}">
              <small>
              <table class="table">
                  <thead>
                        <tr>
                            {% for head in header %}
                            <th>{{head}}</th>
                            {% endfor %}
                        </tr>
                  </thead>
                  <tbody>
                        <tr>
                            {% for col in rows|list_elem:forloop.counter0 %}
                            <td>{{col}}</td>
                            {% endfor %}
                        </tr>
                  </tbody>
              </table>
              </small>
              {% if form.visible_fields|length > 1 %}
            <strong>Select metadata items below to link this row to existing
            metadata records. The best matching item has been preselected.</br>
            
            If no correct match is found erase the option by clicking 'x'.
            
            </strong>
            {% else %}
            No matching metadata records found - new items will be created.
            {% endif %}
          <ul class="well">
      {% for field in form.visible_fields %}
        <li class="form">
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
        {% endif %}
          {{ field.errors.as_ul }}
          <label>{{ field.label|capfirst }}</label>
          <div>{{ field }}
          <div>{{field.help_text}}</div>
          </div>
        </li>
      {% endfor %}
      </ul>
      </li>
    {% endfor %}
    </ul>
    </div></div>
{% endwith %}
{% endblock %}
